.footer {
 background-color: #333333;
 color: #CCCCCC;
 padding-bottom: 30px;
 padding-top: 30px;
}

.icons {
 margin-right: 20px;
 margin-bottom: 10px;
}

.icons:hover {
 color: yellow;
 transition: 300ms;
}
